- if current_user.following?(@user)
  = button_to [:unfollow, @user], class: 'btn btn-default fixed-150', data: {disable_with: 'Processing...'}, remote: true do
    %span.glyphicon.glyphicon-remove-circle
    Unfollow
- else
  = button_to [:follow, @user], class: 'btn btn-default fixed-150', data: {disable_with: 'Processing...'}, remote: true do
    %span.glyphicon.glyphicon-star
    Follow